@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid d-flex justify-content-center error-page">
    <div class="notfound d-flex flex-row align-items-center p-5" style="font-family: 'Nunito', sans-serif; color: #151723; ">
        <div>
            <i class="fa-solid fa-gear fa-spin fa-8x" style="--fa-animation-duration: 15s;"></i>
        </div>
        <div>
            <h1 class="fw-bold m-0 mb-2" style=" font-size: 65px;">404</h1>
            <h2 class="fw-bolder m-0 text-uppercase">Oops!!!</h2>
            <p class="fw-bolder" style="color: #999fa5;">An error occurred while processing your request.</p>
            <button type="button" class="btn btn-outline-primary rounded-pill text-uppercase fw-bolder opacity-75" onclick="location.href='/'">homepage</button>
        </div>
    </div>
</div>