@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about section py-5">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <h1 class="text-center fw-bold section-title mb-4 text-danger">About Me</h1>
        <p>
            Hello! My name is <strong>Nimrod Hlungwani</strong>, I’m a Multimedia Computing graduate with a strong 
            foundation in both the technical and creative aspects of digital development..
        </p>

        <p>
            After completing my <strong>Matric</strong> I pursued a <strong>Diploma in Multimedia Computing</strong> at <strong>Tshwane University of Technology</strong>,
            where I developed skills in multimedia development, programming, UI/UX, and digital design.
        </p>

        <p class="fw-bolder">
            To enhance my academic background, I also earned several industry-recognized certifications, including:
        </p>
        <ul>
            <li><strong>Get Connected</strong> – Cisco Networking Academy</li>
            <li><strong>HTML5, CSS, and JavaScript for Web Developers</strong> – Johns Hopkins University</li>
            <li><strong>Introduction to Cybersecurity</strong> – Cisco Networking Academy</li>
            <li><strong>Artificial Intelligence in the 4IR</strong> – University of Johannesburg</li>
            <li><strong>RPA with Blue Prism</strong> – Trained by IntelliScient Technologies</li>
        </ul>

        <p class="fw-bolder">
            Over the past two years, I’ve gained hands-on experience through various internship roles across the IT spectrum:
        </p>
        <ul>
            <li>
                <strong>RPA Developer Intern</strong> – <a href="https://intelliscient.co.za/" class="text-decoration-none text-danger">IntelliScient Technologies</a><br>
            </li>
            <li>
                <strong>Web Developer Intern</strong> – <a href="https://www.gicd.co.za" class="text-decoration-none text-danger">Global Institute for Capacity Development</a><br>
            </li>
            <li>
                <strong>IT Intern (Web Developer)</strong> – <a href="https://www.coidlink.co.za/default.aspx" class="text-decoration-none text-danger">CoidLink</a><br>
            </li>
        </ul>

        <p>
            These diverse roles have sharpened my problem-solving abilities, improved my collaboration skills, and
            strengthened my passion for building efficient, user-centered digital solutions.
        </p>

        <p>
            I am an enthusiastic and detail-oriented intern and developer with a passion for multimedia computing and 
            emerging technologies. I approach every project with creativity and a solutions-driven mindset. My goal is 
            to join a dynamic and forward-thinking organization where I can grow professionally, contribute meaningfully, 
            and help bring innovative ideas to life.
        </p>

        <p>
            I would welcome the opportunity to discuss how my skills and experiences align with your team's needs. You can 
            reach me at <a class="text-danger text-decoration-none" href="tel:+27606172494">+27 606 172 494</a> (call or WhatsApp) or via email at 
            <a class="text-danger text-decoration-none" href="mailto:hlungwaninimrod@gmail.com">hlungwaninimrod@gmail.com</a>
        </p>

        <p>
            Please find my resume for your review. Let’s build something great together!
        </p>

        <p class="fw-bolder">
            Thank you for your time and consideration
        </p>
    </div>

</section>
