@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="skills" class="skills section py-5">

    <h1 class="text-center fw-bold section-title mb-4 text-danger">Skills</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Front-End Development</span>
                    <span>90%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 90%;"></div>
                </div>
                <p class="fs-6">HTML, CSS & JavaScript</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Back-End Development</span>
                    <span>70%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 70%;"></div>
                </div>
                <p class="fs-6">PHP, C#, Python & MySQL</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Version Control System</span>
                    <span>95%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 95%;"></div>
                </div>
                <p class="fs-6">Git, Github & Microsoft Team Foundation Server (TFS)</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Java Developer</span>
                    <span>80%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 80%;"></div>
                </div>
                <p class="fs-6">Java Swing, Java EE & Java SE</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Code Editors</span>
                    <span>80%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 80%;"></div>
                </div>
                <p class="fs-6">Netbeans, Microsoft VS, Microsoft VSCode, Sublime Text & Android Studio Code</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Frameworks</span>
                    <span>95%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 95%;"></div>
                </div>
                <p class="fs-6">Bootstrap, JQuery, Velocity & ASP.NET Core MVC</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Robotic Process Automation</span>
                    <span>70%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 70%;"></div>
                </div>
                <p class="fs-6">Blue Prism</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between fs-4">
                    <span class="fw-bold">Multimedia Design</span>
                    <span>50%</span>
                </div>
                <div class="progress rounded-3" style="height: 8px;">
                    <div class="bg-danger" style="width: 50%;"></div>
                </div>
                <p class="fs-6">Adobe (Photoshop, Illustrator, After Effects), Blender & Unity 3D</p>
            </div>
        </div>
    </div>

</section>